/* ÁREA */
.compra {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

/* BOX MAIOR */
.compra-box {
  background: #ffffff;
  padding: 40px;
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* TÍTULOS */
h1 {
  font-size: 28px;
}

.preco {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* ESCONDE RADIO */
input[type="radio"] {
  display: none;
}

/* BOTÕES */
.opcoes {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.opcoes label {
  flex: 1;
  text-align: center;
  padding: 14px;
  border: 2px solid #133337;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.opcoes label i {
  margin-right: 6px;
}

/* SELECIONADO */
#pix:checked ~ .opcoes label[for="pix"],
#boleto:checked ~ .opcoes label[for="boleto"],
#cartao:checked ~ .opcoes label[for="cartao"] {
  background: #133337;
  color: #fff;
}

/* EMAIL */
.input-email {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 20px;
}

/* CONTEÚDO */
.conteudo {
  display: none;
  margin-top: 15px;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
}

/* MOSTRAR */
#pix:checked ~ .conteudos .pix {
  display: block;
  text-align: center;
}

#boleto:checked ~ .conteudos .boleto {
  display: block;
}

.boleto {
  text-align: center;
}

.boleto .btn-pagamento {
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
}

#cartao:checked ~ .conteudos .cartao {
  display: block;
  text-align: center;
}

/* QR */
.qr {
  width: 220px;
  margin: 20px auto;
  display: block;
  border: 8px solid #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

form input {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

/* LINHA CERTA */
.linha {
  display: flex;
  gap: 10px;
}

.linha input {
  width: 50%;
}

/* BOTÃO */
.btn-pagamento {
  display: inline-block;
  text-align: center;
  padding: 14px;
  background: #af634d;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-pagamento:hover {
  background: #e17f64;
}

.btn-pagamento:active {
  transform: scale(0.98);
}

/* INFO */
.info {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: center;
}
